Repository Aton-Kish/syncup: changes, and which lefthook commands are due for each by the changed paths.
All: go, prettier, markdown

go:
  run: 'export TARGETS=$(echo "{staged_files}" | xargs dirname)
  
    task lint:go
  
    '

prettier:
  run: 'export TARGETS=$(echo "{staged_files}")
  
    task lint:prettier
  
    '

markdown:
  run: 'export TARGETS=$(echo "{staged_files}")
  
    task lint:prettier
  
    task lint:markdown
  
    '

chore: added release flow
  .github/workflows/release.yaml
Due: prettier

chore: setup goreleaser (#12)
  .github/workflows/release.yaml
  .gitignore
  .goreleaser.yaml
  Taskfile.yaml
  go.mod
  internal/syncup/interface/infrastructure/function_appsync_test.go
  internal/syncup/interface/infrastructure/resolver_appsync_test.go
  internal/syncup/interface/infrastructure/schema_appsync_test.go
Due: go, prettier

chore: installed git-chglog
  Taskfile.yaml
Due: prettier

chore: init chglog
  .chglog/CHANGELOG.md.gotmpl
  .chglog/config.yaml
Due: prettier

chore: added changelog task
  .markdownlint-cli2.yaml
  Taskfile.yaml
Due: prettier

chore: updated chglog config & template
  .chglog/CHANGELOG.md.gotmpl
  .chglog/config.yaml
Due: prettier

chore: added sub temlate
  .chglog/CHANGELOG.md.gotmpl
Due: none

chore: renamed envvar
  Taskfile.yaml
Due: prettier

chore: added release task
  Taskfile.yaml
Due: prettier

chore: added changelog generator (#13)
  .chglog/CHANGELOG.md.gotmpl
  .chglog/config.yaml
  .markdownlint-cli2.yaml
  Taskfile.yaml
Due: prettier

chore(cli): renamed cmd entrypoint
  cmd/syncup/gen/main.go
  cmd/syncup/main.go
  cmd/syncup/registry/registry.go
Due: go

chore: fixed build source path
  .goreleaser.yaml
Due: prettier

chore: replaced deprecated options
  Taskfile.yaml
Due: prettier

chore: renamed cli entrypoint (#14)
  .goreleaser.yaml
  Taskfile.yaml
  cmd/syncup/gen/main.go
  cmd/syncup/main.go
  cmd/syncup/registry/registry.go
Due: go, prettier

docs: added a logo image
  logo.svg
Due: none

docs: updated README
  README.md
Due: markdown

docs: added how-to-guide
  docs/how-to-syncup.md
Due: markdown

docs: updated user guide
  docs/README.md
Due: markdown

docs: added development guide
  DEVELOPMENT.md
Due: markdown

chore: changed changelog output path
  .markdownlint-cli2.yaml
  Taskfile.yaml
Due: prettier

docs: fixed links
  README.md
  docs/README.md
Due: markdown

docs: fixed user guide
  docs/README.md
Due: markdown

docs: added badges
  README.md
Due: markdown

chore: added issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature-request.md
  .markdownlint-cli2.yaml
Due: prettier, markdown

docs: fixed filename convention
  docs/reference/syncup-completion-bash.md
  docs/reference/syncup-completion-fish.md
  docs/reference/syncup-completion-powershell.md
  docs/reference/syncup-completion-zsh.md
  docs/reference/syncup-completion.md
  docs/reference/syncup-pull.md
  docs/reference/syncup-push.md
  docs/reference/syncup-version.md
  docs/reference/syncup.md
  docs/reference/syncup_completion.md
  internal/syncup/interface/command/cobra.go
  internal/syncup/interface/command/template/README.md.gotmpl
  internal/syncup/interface/command/template/reference.md.gotmpl
Due: go, markdown

docs: added documentation (#15)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/feature-request.md
  .markdownlint-cli2.yaml
  DEVELOPMENT.md
  README.md
  Taskfile.yaml
  docs/README.md
  docs/how-to-syncup.md
  docs/reference/syncup-completion-bash.md
  docs/reference/syncup-completion-fish.md
  docs/reference/syncup-completion-powershell.md
  docs/reference/syncup-completion-zsh.md
  docs/reference/syncup-completion.md
  docs/reference/syncup-pull.md
  docs/reference/syncup-push.md
  docs/reference/syncup-version.md
  docs/reference/syncup.md
  docs/reference/syncup_completion.md
  internal/syncup/interface/command/cobra.go
  internal/syncup/interface/command/template/README.md.gotmpl
  internal/syncup/interface/command/template/reference.md.gotmpl
  logo.svg
Due: go, prettier, markdown

docs: splitted pages
  docs/README.md
  docs/why-syncup.md
Due: markdown

docs: re-structured user guide
  docs/README.md
  docs/concept-guide.md
  docs/getting-started.md
  docs/how-to-guide.md
Due: markdown

docs: added a concept image
  docs/concept-guide.md
  docs/images/concept.drawio.svg
Due: markdown

docs: added data format description
  docs/concept-guide.md
Due: markdown

docs: update concept guide
  docs/concept-guide.md
Due: markdown

docs: unified pages
  docs/README.md
  docs/getting-started.md
Due: markdown

chore: renamed issue template config
  .github/ISSUE_TEMPLATE/config.yml
Due: none

docs: updated data format descriptions
  docs/concept-guide.md
Due: markdown

docs: updated compatibility description
  docs/concept-guide.md
Due: markdown

style: removed hyphens
  README.md
  docs/concept-guide.md
Due: markdown

docs: updated user guide (#16)
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/README.md
  docs/concept-guide.md
  docs/how-to-guide.md
  docs/images/concept.drawio.svg
Due: markdown

fix: fixed release task
  Taskfile.yaml
Due: prettier

fix: fixed release task (#17)
  Taskfile.yaml
Due: prettier

chore: added "set environment variables" step
  .github/workflows/release.yaml
Due: prettier

Path conditions:
  go: any of: *.go
  prettier: any of: *.{json,yaml}
  markdown: any of: *.md
