Repository Aton-Kish/syncup: changes, and which lefthook commands are due for each by the changed paths.
All: go, prettier, markdown

go:
  run: 'export TARGETS=$(echo "{staged_files}" | xargs dirname)
  
    task lint:go
  
    '

prettier:
  run: 'export TARGETS=$(echo "{staged_files}")
  
    task lint:prettier
  
    '

markdown:
  run: 'export TARGETS=$(echo "{staged_files}")
  
    task lint:prettier
  
    task lint:markdown
  
    '

feat(lib): added feature for deleting extraneous resources
  internal/syncup/usecase/pull.go
Due: go

test(lib): updated pull use case tests
  internal/syncup/usecase/pull_test.go
Due: go

feat(cli): added delete flag for pull command
  internal/syncup/interface/command/pull.go
Due: go

feat: added feature of deleting extraneous resources (#8)
  internal/syncup/domain/service/function.go
  internal/syncup/domain/service/function_test.go
  internal/syncup/domain/service/mock/mock_function.go
  internal/syncup/domain/service/mock/mock_function_test.go
  internal/syncup/domain/service/mock/mock_resolver.go
  internal/syncup/domain/service/resolver.go
  internal/syncup/domain/service/resolver_test.go
  internal/syncup/interface/command/pull.go
  internal/syncup/usecase/pull.go
  internal/syncup/usecase/pull_test.go
Due: go

fix(lib): fixed an argument for save method
  internal/syncup/interface/infrastructure/function_appsync.go
  internal/syncup/interface/infrastructure/function_appsync_test.go
Due: go

feat(lib): re-ordered process for deleting extraneous resources
  internal/syncup/usecase/pull.go
  internal/syncup/usecase/pull_test.go
Due: go

refactor: renamed input field name
  internal/syncup/interface/command/pull.go
  internal/syncup/usecase/pull.go
  internal/syncup/usecase/pull_test.go
Due: go

fix(lib): added missing success messages
  internal/syncup/usecase/pull.go
Due: go

style(lib): renamed variables
  internal/syncup/usecase/pull.go
Due: go

feat(lib): added push use case
  internal/syncup/usecase/push.go
  internal/syncup/usecase/push_test.go
Due: go

test(lib): generated use case mock
  internal/syncup/usecase/mock/mock_push.go
Due: go

feat(cli): added push command
  internal/syncup/interface/command/push.go
  internal/syncup/interface/command/push_test.go
Due: go

feat(cli): registered push command
  cmd/cli/main.go
Due: go

feat(lib): added in progress message
  internal/syncup/usecase/pull.go
Due: go

feat: push command (#9)
  cmd/cli/main.go
  internal/syncup/interface/command/push.go
  internal/syncup/interface/command/push_test.go
  internal/syncup/interface/infrastructure/function_appsync.go
  internal/syncup/interface/infrastructure/function_appsync_test.go
  internal/syncup/usecase/mock/mock_push.go
  internal/syncup/usecase/push.go
  internal/syncup/usecase/push_test.go
Due: go

feat: added syncup context utils
  internal/syncup/context.go
  internal/syncup/context_test.go
Due: go

feat: added request id to context
  go.mod
  go.sum
  internal/syncup/interface/command/root.go
Due: go

perf(lib): added functions cache
  go.mod
  go.sum
  internal/syncup/interface/infrastructure/function_appsync.go
  internal/syncup/interface/infrastructure/function_appsync_test.go
Due: go

style(lib): renamed const and struct field
  internal/syncup/interface/infrastructure/schema_appsync.go
  internal/syncup/interface/infrastructure/schema_appsync_test.go
Due: go

feat: added request id (#10)
  go.mod
  go.sum
  internal/syncup/context.go
  internal/syncup/context_test.go
  internal/syncup/interface/command/root.go
  internal/syncup/interface/infrastructure/function_appsync.go
  internal/syncup/interface/infrastructure/function_appsync_test.go
  internal/syncup/interface/infrastructure/schema_appsync.go
  internal/syncup/interface/infrastructure/schema_appsync_test.go
Due: go

feat(cli): added reference generators
  internal/syncup/interface/command/cobra.go
  internal/syncup/interface/command/command.go
  internal/syncup/interface/command/pull.go
  internal/syncup/interface/command/push.go
  internal/syncup/interface/command/root.go
  internal/syncup/interface/command/template/reference.md.gotmpl
  internal/syncup/interface/command/version.go
Due: go

test(cli): added unit test for reference generators
  internal/syncup/interface/command/cobra_test.go
Due: go

feat(cli): added README generator
  internal/syncup/interface/command/cobra.go
  internal/syncup/interface/command/cobra_test.go
  internal/syncup/interface/command/template/README.md.gotmpl
Due: go

feat(cli): added README generators
  internal/syncup/interface/command/command.go
  internal/syncup/interface/command/pull.go
  internal/syncup/interface/command/push.go
  internal/syncup/interface/command/root.go
  internal/syncup/interface/command/version.go
Due: go

style(cli): renamed field name
  internal/syncup/interface/command/cobra_test.go
Due: go

feat(cli): ignored last updated diffs
  internal/syncup/interface/command/cobra.go
Due: go

test(lib): re-generated mocks
  internal/syncup/domain/repository/mock/mock_function.go
  internal/syncup/domain/repository/mock/mock_mfa_token_provider.go
  internal/syncup/domain/repository/mock/mock_repository.go
  internal/syncup/domain/repository/mock/mock_resolver.go
  internal/syncup/domain/repository/mock/mock_schema.go
  internal/syncup/domain/repository/mock/mock_tracker.go
  internal/syncup/domain/service/mock/mock_function.go
  internal/syncup/domain/service/mock/mock_function_test.go
  internal/syncup/domain/service/mock/mock_resolver.go
  internal/syncup/interface/console/mock/mock_spinner.go
  internal/syncup/interface/console/mock/mock_survey.go
  internal/syncup/usecase/mock/mock_pull.go
  internal/syncup/usecase/mock/mock_push.go
Due: go

feat(cli): added command references generator
  cmd/cli/gen/main.go
  cmd/cli/registry/registry.go
Due: go

chore: fixed linters
  .markdownlint-cli2.yaml
  .markdownlint.yaml
  .prettierignore
  Taskfile.yaml
Due: prettier

chore: updated generate task
  Taskfile.yaml
Due: prettier

docs: added command references
  docs/reference/README.md
  docs/reference/syncup.md
  docs/reference/syncup_completion.md
  docs/reference/syncup_completion_bash.md
  docs/reference/syncup_completion_fish.md
  docs/reference/syncup_completion_powershell.md
  docs/reference/syncup_completion_zsh.md
  docs/reference/syncup_pull.md
  docs/reference/syncup_push.md
  docs/reference/syncup_version.md
Due: markdown

docs: added docs/README.md
  docs/README.md
Due: markdown

docs: added docs (#11)
  .markdownlint-cli2.yaml
  .markdownlint.yaml
  .prettierignore
  Taskfile.yaml
  cmd/cli/gen/main.go
  cmd/cli/registry/registry.go
  docs/README.md
  docs/reference/README.md
  docs/reference/syncup.md
  docs/reference/syncup_completion.md
  docs/reference/syncup_completion_bash.md
  docs/reference/syncup_completion_fish.md
  docs/reference/syncup_completion_powershell.md
  docs/reference/syncup_completion_zsh.md
  docs/reference/syncup_pull.md
  docs/reference/syncup_push.md
  docs/reference/syncup_version.md
  internal/syncup/domain/repository/mock/mock_function.go
  internal/syncup/domain/repository/mock/mock_mfa_token_provider.go
  internal/syncup/domain/repository/mock/mock_repository.go
  internal/syncup/domain/repository/mock/mock_resolver.go
  internal/syncup/domain/repository/mock/mock_schema.go
  internal/syncup/domain/repository/mock/mock_tracker.go
  internal/syncup/domain/service/mock/mock_function.go
  internal/syncup/domain/service/mock/mock_function_test.go
  internal/syncup/domain/service/mock/mock_resolver.go
  internal/syncup/interface/command/cobra.go
  internal/syncup/interface/command/cobra_test.go
  internal/syncup/interface/command/command.go
  internal/syncup/interface/command/pull.go
  internal/syncup/interface/command/push.go
  internal/syncup/interface/command/root.go
  internal/syncup/interface/command/template/README.md.gotmpl
  internal/syncup/interface/command/template/reference.md.gotmpl
  internal/syncup/interface/command/version.go
  internal/syncup/interface/console/mock/mock_spinner.go
  internal/syncup/interface/console/mock/mock_survey.go
  internal/syncup/usecase/mock/mock_pull.go
  internal/syncup/usecase/mock/mock_push.go
Due: go, prettier, markdown

chore: installed goreleaser
  Taskfile.yaml
Due: prettier

chore: updated .gitignore
  .gitignore
Due: none

chore: added goreleaser config
  .goreleaser.yaml
Due: prettier

chore: added build and archive tasks
  Taskfile.yaml
Due: prettier

test(lib): added dummy region
  internal/syncup/interface/infrastructure/function_appsync_test.go
  internal/syncup/interface/infrastructure/resolver_appsync_test.go
  internal/syncup/interface/infrastructure/schema_appsync_test.go
Due: go

chore: removed redundant target
  Taskfile.yaml
Due: prettier

chore: bump go version 1.21.1
  go.mod
Due: none

Path conditions:
  go: any of: *.go
  prettier: any of: *.{json,yaml}
  markdown: any of: *.md
