Repository Aton-Kish/syncup: changes, and which lefthook commands are due for each by the changed paths.
All: go, prettier, markdown

go:
  run: 'export TARGETS=$(echo "{staged_files}" | xargs dirname)
  
    task lint:go
  
    '

prettier:
  run: 'export TARGETS=$(echo "{staged_files}")
  
    task lint:prettier
  
    '

markdown:
  run: 'export TARGETS=$(echo "{staged_files}")
  
    task lint:prettier
  
    task lint:markdown
  
    '

chore: changed title naming convention
  .chglog/config.yaml
Due: prettier

docs: fixed naming convention
  .github/ISSUE_TEMPLATE/bug-report.md
  docs/README.md
Due: markdown

fix: fixed GitHub Actions workflow (#18)
  .chglog/config.yaml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/workflows/release.yaml
  docs/README.md
Due: prettier, markdown

docs: updated CHANGELOG for v0.1.0
  CHANGELOG.md
Due: markdown

chore: bump up golang version to v1.22.0
  .devcontainer/devcontainer.json
  DEVELOPMENT.md
  go.mod
Due: prettier, markdown

chore: updated prettierignore
  .prettierignore
Due: none

test: fixed test cases
  internal/syncup/interface/command/cobra_test.go
Due: go

chore: re-generated mocks
  internal/syncup/domain/repository/mock/mock_function.go
  internal/syncup/domain/repository/mock/mock_mfa_token_provider.go
  internal/syncup/domain/repository/mock/mock_repository.go
  internal/syncup/domain/repository/mock/mock_resolver.go
  internal/syncup/domain/repository/mock/mock_schema.go
  internal/syncup/domain/repository/mock/mock_tracker.go
  internal/syncup/domain/service/mock/mock_function.go
  internal/syncup/domain/service/mock/mock_function_test.go
  internal/syncup/domain/service/mock/mock_resolver.go
  internal/syncup/interface/console/mock/mock_spinner.go
  internal/syncup/interface/console/mock/mock_survey.go
  internal/syncup/usecase/mock/mock_pull.go
  internal/syncup/usecase/mock/mock_push.go
Due: go

chore: bump up go mod versions
  go.mod
  go.sum
Due: none

feat(lib): added environment variables model
  internal/syncup/domain/model/appsync.go
Due: go

feat(lib): added environment variables repository
  internal/syncup/domain/repository/environment_variables.go
  internal/syncup/domain/repository/mock/mock_environment_variables.go
Due: go

test(lib): added environment variables test data
  testdata/environment_variables/env.json
Due: prettier

feat(lib): added environment variables repository implements
  internal/syncup/interface/infrastructure/aws.go
  internal/syncup/interface/infrastructure/environment_variables_appsync.go
  internal/syncup/interface/infrastructure/environment_variables_appsync_test.go
  internal/syncup/interface/infrastructure/environment_variables_fs.go
  internal/syncup/interface/infrastructure/environment_variables_fs_test.go
Due: go

feat(lib): registered environment variables repositories
  internal/syncup/domain/repository/mock/mock_repository.go
  internal/syncup/domain/repository/repository.go
  internal/syncup/registry/repository.go
Due: go

feat(lib): added environment variables feature
  internal/syncup/usecase/pull.go
  internal/syncup/usecase/pull_test.go
  internal/syncup/usecase/push.go
  internal/syncup/usecase/push_test.go
Due: go

fix(lib): fixed no variables case
  internal/syncup/interface/infrastructure/environment_variables_appsync.go
  internal/syncup/interface/infrastructure/environment_variables_appsync_test.go
Due: go

docs: updated docs
  README.md
  docs/README.md
  docs/concept-guide.md
  docs/how-to-guide.md
  docs/images/concept.drawio.svg
Due: markdown

feat: support environment variables feature (#19)
  .devcontainer/devcontainer.json
  .prettierignore
  DEVELOPMENT.md
  README.md
  docs/README.md
  docs/concept-guide.md
  docs/how-to-guide.md
  docs/images/concept.drawio.svg
  go.mod
  go.sum
  internal/syncup/domain/model/appsync.go
  internal/syncup/domain/repository/environment_variables.go
  internal/syncup/domain/repository/mock/mock_environment_variables.go
  internal/syncup/domain/repository/mock/mock_function.go
  internal/syncup/domain/repository/mock/mock_mfa_token_provider.go
  internal/syncup/domain/repository/mock/mock_repository.go
  internal/syncup/domain/repository/mock/mock_resolver.go
  internal/syncup/domain/repository/mock/mock_schema.go
  internal/syncup/domain/repository/mock/mock_tracker.go
  internal/syncup/domain/service/mock/mock_function.go
  internal/syncup/domain/service/mock/mock_function_test.go
  internal/syncup/domain/service/mock/mock_resolver.go
  internal/syncup/interface/command/cobra_test.go
  internal/syncup/interface/console/mock/mock_spinner.go
  internal/syncup/interface/console/mock/mock_survey.go
  internal/syncup/interface/infrastructure/aws.go
  internal/syncup/interface/infrastructure/environment_variables_appsync.go
  internal/syncup/interface/infrastructure/environment_variables_appsync_test.go
  internal/syncup/interface/infrastructure/environment_variables_fs.go
  internal/syncup/interface/infrastructure/environment_variables_fs_test.go
  internal/syncup/registry/repository.go
  internal/syncup/usecase/mock/mock_pull.go
  internal/syncup/usecase/mock/mock_push.go
  internal/syncup/usecase/pull.go
  internal/syncup/usecase/pull_test.go
  internal/syncup/usecase/push.go
  internal/syncup/usecase/push_test.go
  testdata/environment_variables/env.json
Due: go, prettier, markdown

docs: updated CHANGELOG for v0.2.0
  CHANGELOG.md
Due: markdown

Path conditions:
  go: any of: *.go
  prettier: any of: *.{json,yaml}
  markdown: any of: *.md
